
@media (max-width: 900px) {
    
    #page-home {
        background-position-x: 70vw;       
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img {
        height: 220px;
    }

    #page-search-results header {
        display: flex;
        flex-direction: column;
    }

    #page-search-results header a {
        margin-top: 32px;
    }

    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }

    form {
        display: grid;
        grid-template-columns: 1fr;
    }

}


@media (min-width: 1700px) {

    #page-home {
        background-position-x: 40vw;
    }
}

@media (min-width: 1366px) {

    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 100px;
    }
}

@media (max-width: 700px) {
     .items-grid {
        grid-template-columns: 1fr 1fr;
    }

    /* form button {
        display: block;
        justify-content: center;
        align-items: center;
    } */

}



@media (max-width: 600px) {
    form legend {
        display: block;
    }

    #page-home {
        background-position-x: 70vw;
    }

}

@media (max-width: 500px) {
    #page-create-point header {
        margin-top: 48px;
        display: grid;
        grid-template-columns: 1fr;
    }

    #page-create-point header a {
        margin-top: 24px;
        justify-content: center;
    }

    .items-grid {
        grid-template-columns: 1fr;
    }

    form {
        margin: 40px -20px;
    }
}

@media (max-width: 360px) {

    form {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: -30px;
    }
}

@media (max-width: 320px) {
    form {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: -50px;
    }
}


